{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<!---HEADING--------->
  <div class="demo-type-example" >
     <h1 id="intro"><span class="demo-heading-note"></span>Resume Parser</h1>
   </div>
  <div class="demo-type-example">
     <span class="demo-text-note"></span>
     <p class="lead" id="sub-intro" style="margin-bottom: 0px;">{{l}} Candidates match your filter</p>
   </div>
<br>


<!---FILTER-------->
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group" style="width:15%;" id="centered">
    {{form.skills|add_class:"form-control"}}
  </div>

  <div class="col" id="centered">
    <input type="submit" value="Filter" class='btn btn-block btn-lg btn-primary' >
  </div>
  <br>
</form>


<!---TABLE--------->
  <div>
     <table style="width:85%;margin-bottom:40px;">
       <tr>
         <th style="width: 10%;">Candidate</th>
         <th style="width: 20%;">Address</th>
         <th style="width: 7%;">Contact</th>
         <th style="width: 10%;">Languages</th>
         <th style="width: 15%;">Skills</th>
       </tr>
       {% for candidate,skills in output.items %}
       <tr>
         <td><p>{{candidate.name}}</p></td>
         <td><p>{{candidate.residence}}</p></td>
         <td><p>{{candidate.number}}<br>{{candidate.email}}</p></td>
         <td><p>{{candidate.languages}}</p></td>
         <td><p>{{skills}}</p></td>
       </tr>
       {% endfor %}
     </table>
   </div>

{% endblock %}
