{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<!---HEADING--------->
  <div class="demo-type-example" >
     <h1 id="intro"><span class="demo-heading-note"></span>Resume Parser</h1>
   </div>
  <div class="demo-type-example">
     <span class="demo-text-note"></span>
     <p class="lead" id="sub-intro" style="margin-bottom: 0px;">You currently have {{len}} candidates.</p>
   </div>
<br>


<!---UPLOAD--------->
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p id="centered">
          {{ form.pdf}}
        </p>
        <p id="centered">
          <input type="submit" value="Upload" class='btn btn-block btn-lg btn-primary'>
        </p>
</form>
<br>


<!---TABLE--------->
   <div>
     <table style="width:85%;margin-bottom:40px;">
       <tr>
         <th style="width: 10%;">Candidate</th>
         <th style="width: 20%;">Address</th>
         <th style="width: 7%;">Contact</th>
         <th style="width: 10%;">Languages</th>
         <th style="width: 15%;">Resume Filename</th>
       </tr>
       {% for candidate in candidates %}
       <tr>
         <td><p>{{candidate.name}}</p></td>
         <td><p>{{candidate.residence}}</p></td>
         <td><p>{{candidate.number}}<br>{{candidate.email}}</p></td>
         <td><p>{{candidate.languages}}</p></td>
         <td><p>{{candidate.file_path}}</p></td>
       </tr>
       {% endfor %}
     </table>
   </div>

{% endblock %}
